annotated-types==0.7.0
asyncpg==0.30.0
greenlet==3.2.4
pydantic==2.12.3
pydantic-core==2.41.4
pydantic-settings==2.11.0
python-dotenv==1.1.1
ruff==0.14.1
sqlalchemy==2.0.44
typing-extensions==4.15.0
typing-inspection==0.4.2
